.loginForm {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Header.css */
.sticky-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d6efd;
    color: white;
    padding: 10px; /* Adjust as needed */
    z-index: 100; /* Ensure it's above other content */
    margin-bottom: 2rem;
  }
  
  .app-name {
    font-size: 18px;
    font-weight: bold;
  }
  